/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

@import "vuepress-default-theme-sidebar"
@import "vuepress-default-theme-mobile"
@import "vuepress-plugin-container"

body
  margin 0
  .content__default
    margin 8px
  .vuepress-toc
    top 1.5em

img.home__logo
  display block
  margin auto

.github-card-wrapper
  margin-bottom 0.67em

// tweak to @vuepress/theme-blog
.content__default:not(.custom)
  > h1, h2, h3, h4, h5, h6
    margin-top: 0
    padding-top: 0
  > h1, h2
    margin-bottom: 0.67em
  > h3, h4
    margin-bottom: 0.33em
