/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

@import "vuepress-default-theme-sidebar"
@import "vuepress-default-theme-mobile"
@import "vuepress-plugin-container"

body
  margin: 0
  .content__default
    margin: 8px

img.home__logo
  display:block
  margin:auto

