/**
 * Styles for the vuepress-plugin-container plugin.
 *
 * ref：https://github.com/vuepress/vuepress-plugin-container
 */

.custom-block

  padding: .1rem 1.5rem
  border-left-width: .5rem
  border-left-style: solid
  margin: 1rem 0

  .custom-block-title
    font-weight: 600
    margin-bottom: -.4rem

  &.tip
    background-color: #f3f5f7
    border-color: #42b983

  &.warning
    background-color: rgba(255,229,100,.3)
    border-color: #e7c000
    color: #6b5900
    .custom-block-title
      color: #b29400

  &.danger
    background-color: #ffe6e6
    border-color: #c00
    color: #4d0000
    .custom-block-title
      color: #900


