---
layout: splash
title: " "
header:
  overlay_image: /assets/images/owl_teaser_nobg.png
intro:
  - excerpt: 'Kaizen Dorks Dublin is the result of putting together **_kaizen_** (japanese word for improvement) and **_dork_** (dublin slang for a beautiful and likeable nerd) by a group of IT professionals aiming to improve themselves.'
feature_row:
  - title: "Vuedock"
    excerpt: "Vue CLI plugin that generates docker and compose files"
    # image_path: /assets/images/logo.png
    url: "/vue-cli-plugin-vuedock"
    btn_label: "Read more"
  - title: "Vue-autowire"
    excerpt: "Vue plugin that automatically discovers and registers components, routes, pages and more"
    # image_path: /assets/images/logo.png
    url: "/vue-plugin-autowire"
    btn_label: "Read more"
---

{% include feature_row id="intro" type="center" %}

<h3 class="archive__subtitle">Projects</h3>

Check some of the open source projects we have started. You might even get interested and contribute to one of them?

{% include feature_row %}

{% comment %}
<h3 class="archive__subtitle">Projects</h3>

<div class="feature__wrapper entries-grid">
  {% assign sorted_projects = site.projects | sort: 'title' %}
  {% for post in sorted_projects %}
    {% include archive-single.html type="grid" %}
  {% endfor %}
</div>
{% endcomment %}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

Have some free time? Maybe read through one of our blog posts.

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}